.header {
  align-items: center;
  background-color: rgb(165, 164, 164);
  display: flex;
  justify-content: space-around;
}

.title {
  display: inline-flex;
  justify-content: space-between;
}

.search-button {
  background-color: rgb(165, 164, 164);
  border: none;
}
